/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";

*{
    margin: 0;
    padding: 0;
}
.content{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}

h1{
    font-family: 'Fredoka One', cursive;
}
main {
    padding-bottom: 50px;
}
main a{
    color: #483d8b;
}
main a:hover{
    color: #241f45;
}

/* BUTTONS */
.btn {
    background-color: #0D0012 !important;
    color: white !important;
  }
  
  .btn-primary {
    background-color: #280137 !important;
    border-color: #280137 !important;
  }
  .btn-primary:hover {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #f3ea8b !important;
  }
  
  .btn-secondary {

    background-color: your-other-color !important;
    border-color: your-other-color !important;
  }

/* MISC GENERAL STYLING */
.username{
  margin-bottom: 0px;
  cursor: pointer !important;
  display: inline-block !important;
}
.username:hover{
  text-decoration: underline;
}