/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
.content{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}

h1{
    font-family: 'Fredoka One', cursive;
}
main {
    padding-bottom: 50px;
}
main a{
    color: #483d8b;
}
main a:hover{
    color: #241f45;
}